:root {
    --grey-blue: #9494ab;
    --grey: #545758;
    --pastel-grey: #babad6;
}

*, *::before, *::after {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--grey-blue);
}
h1 {
    display: flex;
    justify-content: center;
    color: white;
}
h2 {
    color: white;
    background-color: var(--grey);
    padding: 5px 10px;
    border-radius: 5px;
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(150px, auto));
    grid-template-areas:    'd t'
                            'q t'
                            'p p';
    gap: 10px;
    margin-top: 40px;
    padding: 10px;
}
section > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.project-class {
    grid-area: p;
}
.to-do-list-class {
    grid-area: t;
}
.today-due-class {
    grid-area: d;
}
.quote-class {
    grid-area: q;
}
.quote-p {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    word-spacing: 3px;
    height: 100%;
}
ul {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}
/* li {
    list-style-type: none;
    text-decoration: underline;
    text-underline-offset: 4px;
} */
 li{
    list-style-type: none;
 }
 li > p:nth-child(1){
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 20px;
 }
 li > p:nth-child(2){
    margin-top: 7px;
    font-size: 10px;
 }
.buttonDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.buttonDiv > button {
    width: 150px;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    transition: all 0.5s;
}
.buttonDiv > button:hover {
    cursor: pointer;
    color: white;
}
.addProjectButton:hover {
    background-color: black;
}
.buttonDiv > input {
    width: 160px;
    font-size: 14px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    transition: all 0.3s;
}
.buttonDiv > input:focus {
    width: 200px;
}
.add-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    transition: all 0.3s;
}
.add-button:hover {
    background-color: darkgreen;
    cursor: pointer;
}
.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    transition: all 0.3s;
}
.delete-button:hover {
    background-color: darkred;
    cursor: pointer;
}
.project-ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: var(--pastel-grey);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.card > div {
    display: flex;
    gap: 10px;
}
.card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.todo-container {
    background-color: #fff;
    padding: 5px 20px;
}
.cancel {
    background-color: rgba(255, 0, 0, 0.5);
    transition: all 0.3s;
}
.cancel:hover {
    background-color: red;
}
.card > input {
    width: 70%;
}