:root {
    --grey-blue: #9494ab;
    --grey: #545758;
    --pastel-grey: #babad6;
}

*, *::before, *::after {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--grey-blue);
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: ;
}
.project-class {
    background-color: #fff;
}